#header {
    height: 100px;
    width: 100%;
}

#title-container, #prompt-container {
    margin: 0 auto;
}

#title, #prompt {
    margin: 0 0 0 30px;
    color: white;
}

#noun {
    width: 500px;
    text-align: center;
    height: 100%;
    font-size: 1em;
    border-bottom: 0.25px solid #FFF;
    box-shadow: 0 0.5px 0 0 #FFF;
    text-transform: uppercase;
}



#submit-time {
    font-size: 20px;
    vertical-align: middle;
}

@media only screen 
and (min-device-width: 0px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) { 

    #noun {
        width: 100%;
    }

    #prompt {
        text-align: center;
        padding: 10px;
        margin: 0;
    }
}

#prompt {
    font-size: 4em;
}
