body {
    width: 100%;
    height: 100%;
}

#map {
    float: left;
    padding: 0 0 0 0;
}

#sidebar {
    float: left;
    height: 800px;
}

#entries {
    height: 650px;
    overflow: auto;
}

#live-title {
    text-align: center;
    font-weight: bold;
}

.live-feed {
    color: white;
    padding: 20px;
    
    span {
        margin: 0;
    }

    p {
        padding: 10px;
    }

    // style like icon
    .material-icons {
        float: right;
        margin-top: 5px;
        cursor: pointer;
    }
}

#live-feed-container {
    margin-bottom: 0;
}

.no-entries-msg {
    text-align: center;
    font-size: 15px;
}

// Style the popup messages.
#popup-content {
    height: 100px;
    h1 {
        font-size: 20px;
    }
}
